
{{#if error}}
	<div id="login_err" class="error">{{ error }}</div>
{{/if}}

{{#if user}}
	<button id="postButton">Post Button</button>
{{else}}
	<form id="loginForm" method="Post" action="/login">
		<input id="username" class="input" placeholder="username" name="username">
		<input id="password" class="input" placeholder="password" name="password" type="password">
		<input name="login" type="submit" value="login">
	</form>
{{/if}}


<div id="addPost">

	<form id="postForm" method="POST" action="">
		<div class="postInput">
			<label for="title">Title:</label>
			<input class="postIn" type="status" name="status" value="">
		</div>
		<div class="postInput">
			<label for="url">link:</label>
			<input class="postIn" type="url" name="url" value="">
		</div>
		<div class="postInput">
			<label for="description">Description:</label>
			<textarea form="postForm" id="description" name="description"></textarea>
		</div>
		<div><input id="submit" type="submit" value="Post"></div>
	</form>

</div>


<div id="postDiv">
	<ol id="posts">
	{{#if posts}}
	{{#each posts}}
		<li>{{username}}:	{{status}}<br>{{description}}</li>
		<!-- <button class={{username}} id={{_id}}>Comment</button> -->
		<a class="comments" id="{{slug}}" href="/post/{{slug}}">View Comments</a>
		<br>
		<br>
	{{/each}}
	{{/if}}
	</ol>
</div>
