
{{#if posts}}
{{#each posts}}
	<div class="post">
		{{#if url}}
		<li><a class="url" href="{{url}}">{{username}}: {{status}} <span id="where">({{url}})</span></a></li>
		{{else}}
		<li><a href="/post/{{slug}}">{{username}}: {{status}}</a></li>
		{{/if}}
		<a class="comments" id="{{slug}}" href="/post/{{slug}}">View Comments</a>
		<p id="timestamp">{{createAt}}</p>
	</div>
{{/each}}
{{else}}
<div>Sorry, you don't have any posts yet!</div>
{{/if}}
